<nav class="navbar navbar-inverse">
  <div class="container">
    <span class="navbar-brand"><i class="fa fa-key" aria-hidden="true"></i> KEYMAKR</span>
    <login></login>
  </div>
</nav>

<div *ngIf="!successful" class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 align="center">Apply for registration</h3>
        </div>
        <div class="panel-body">

          <form id="registration-form" (ngSubmit)="sendApplication()" #registrationForm="ngForm">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="firstName">First Name <font color="#ff4500">*</font></label>
                  <input type="text" class="form-control" #firstName="ngModel" required [minlength]="2" [maxlength]="25" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="application.applicationProfile.firstName">
                  <div class="alert alert-danger" *ngIf="firstName.errors?.minlength && firstName.touched">minimum 2 characters</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="lastName">Last Name <font color="#ff4500">*</font></label>
                  <input type="text" class="form-control" #lastName="ngModel" required [minlength]="2" [maxlength]="60" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="application.applicationProfile.lastName">
                  <div class="alert alert-danger" *ngIf="lastName.errors?.minlength && lastName.touched">minimum 2 characters</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="emailAddress">Email address <font color="#ff4500">*</font></label>
                  <input type="text" class="form-control" #emailAddress="ngModel" required email id="emailAddress" name="emailAddress" placeholder="Email address" [(ngModel)]="application.applicationProfile.emailAddress">
                  <div class="alert alert-danger" *ngIf="emailAddress.errors?.email && emailAddress.touched">format is 'example@mail.com'</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="phone">Phone Number</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" [(ngModel)]="application.applicationProfile.phone">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LcTUAsUAAAAAATpHNCZzXvNGhyT8mInCcmC3eyK"></re-captcha>
                  <span *ngIf="recaptchaError" class="alert alert-danger">{{recaptchaError}}</span>
                </div>
              </div>
            </div>
            <h4 *ngIf="application.applicationLocations.length > 0" align="center">Camera location</h4>
            <registration-location (deleteLocation)="deleteApplicationLocation($event)" [locationIndex]="i" [applicationLocation]="applicationLocation" *ngFor="let applicationLocation of application.applicationLocations let i = index"></registration-location>
          </form>

          <div class="row">
            <button class="btn btn-link pull-right" role="link" id="addLocation"(click)="addLocation()">+ Add camera location</button>
          </div>

        </div>

        <div class="panel-footer">
          <div class="row" align="center">
            <div class="col-xs-6 col-xs-offset-3">
              <button type="submit" form="registration-form" class="btn btn-primary" [disabled]="!registrationForm.form.valid">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> Send application
              </button>
            </div>
          </div>
          <div class="row" align="center">
            <div class="col-xs-6 col-xs-offset-3">
              <span>By sending this application you agree to our <a href="#">Terms&Conditions</a></span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-2"></div>
  </div>
</div>

<div *ngIf="successful" class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Apply for registration</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-8">
            <div class="row">
              <p>Application send successfully! Our customer administrator will contact you shortly to complete the registration progress</p>
            </div>
            <div class="row">
              <button class="btn btn-link" role="link" id="goHome"(click)="goBackHome()">Go back to homepage</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>