<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="pull-left">{{"MAIN-ADMIN.MANAGE_ADMINISTRATORS" | translate}}</h3></div>
    <div class="col-md-6" style="padding-top: 15px;">
      <button type="button" class="btn btn-primary pull-right" routerLink="add"><i class="fa fa-plus" aria-hidden="true"></i> {{"MAIN-ADMIN.ADD_ADMIN" | translate}}</button>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li role="presentation" [ngClass]="{'active': !custAdminFilterFl && !operAdminFilterFl}"><a (click)="filterByAll()">{{"MAIN-ADMIN.ALL" | translate}}</a></li>
        <li role="presentation" [ngClass]="{'active': custAdminFilterFl}"><a (click)="filterByCustomerAdminList()">{{"MAIN-ADMIN.CUSTOMER_ADMINS" | translate}}</a></li>
        <li role="presentation" [ngClass]="{'active': operAdminFilterFl}"><a (click)="filterByOperatorAdminList()">{{"MAIN-ADMIN.OPERATOR_ADMINS" | translate}}</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-5" style="padding-right: 0px;">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{'MAIN-ADMIN.SEARCH_BY_NAME_OR_EMAIL' | translate}}" (keyup)="onSearchKey($event)" [(ngModel)]="searchQuery">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i> {{"MAIN-ADMIN.SEARCH" | translate}}</button>
        </span>
      </div>
    </div>
    <div class="col-md-2" style="padding-left: 0px;">
      <button *ngIf="searchQuery.length > 0" type="button" class="btn btn-link pull-left" (click)="clearSearch()"><i class="fa fa-remove" aria-hidden="true"></i> {{"MAIN-ADMIN.CLEAR_SEARCH" | translate}}</button>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 20px;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 20%">{{"COMMON.NAME" | translate}}</th>
      <th>{{"COMMON.EMAIL" | translate}}</th>
      <th style="width: 15%">{{"COMMON.PHONE" | translate}}</th>
      <th style="width: 20%">{{"COMMON.TYPE" | translate}}</th>
      <th style="width: 210px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let profile of adminList">
      <td>{{profile.name}}</td>
      <td>{{profile.emailAddress}}</td>
      <td>{{profile.phone}}</td>
      <td>{{profile.roleName}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" style="width: 90px;" [routerLink]="['./', profile.identityId]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{"COMMON.EDIT" | translate}}</button>
        <button type="button" class="btn btn-danger btn-sm" style="width: 90px; margin-left: 10px;"><i class="fa fa-trash" aria-hidden="true"></i> {{"COMMON.DELETE" | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <pagination previousText="&lsaquo;" nextText="&rsaquo;" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
    </div>
  </div>
</div>
