<div class="row">
  <div class="col-xs-10">
    <h2 class="text-left">{{"OPERATOR-ADMIN.REQUESTS.TITLE" | translate}}</h2>
  </div>
</div>
<br/>
<request-filter [filter]="requestFilter" (search)="search($event)" (reset)="search($event)"></request-filter>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-xs-2">{{ "COMMON.OPERATOR" | translate }}</th>
        <th class="col-xs-4">{{ "COMMON.LOCATION" | translate }}</th>
        <th class="col-xs-2">{{ "COMMON.STREAM_NAME" | translate }}</th>
        <th class="col-xs-2">{{ "OPERATOR-ADMIN.REQUESTS.REQUEST_TYPE" | translate }}</th>
        <th class="col-xs-2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of requests">
        <td [style.font-weight]="request.isRequestViewed ? 'normal' : 'bold'">
          {{ request.fromCamera2Operator.operator.profile.firstName + " " +request.fromCamera2Operator. operator.profile.lastName }}
        </td>
        <td [style.font-weight]="request.isRequestViewed ? 'normal' : 'bold'">
          {{ request.fromCamera2Operator.camera.location.name + " - " + request.fromCamera2Operator.camera.location.address }}
        </td>
        <td [style.font-weight]="request.isRequestViewed ? 'normal' : 'bold'">
          {{ request.fromCamera2Operator.camera.name }}
        </td>
        <td [style.font-weight]="request.isRequestViewed ? 'normal' : 'bold'">
          {{ ("OPERATOR-ADMIN.REQUESTS.REQUEST_TYPES." + request.requestType) | translate }}
        </td>
        <td>
          <div class="row">
            <div class="col-xs-6">
              <button type="button" class="btn btn-info btn-sm" (click)="doViewReason(request)">
               {{ "OPERATOR-ADMIN.REQUESTS.VIEW_REASON" | translate}}
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-primary btn-sm" (click)="doChangeOperator(request)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ "OPERATOR-ADMIN.REQUESTS.CHANGE" | translate}}
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
  </div>
</div>

<assign-operator-modal #assignModal></assign-operator-modal>

<view-reason-modal #viewReasonModal (reassign)="doChangeOperator($event)"></view-reason-modal>