<div class="row">
  <div class="col-xs-10">
    <h2 class="text-left">{{"OPERATOR-ADMIN.LOGS.TITLE" | translate}}</h2>
  </div>
</div>

<log-filter [filter]="logFilter" (search)="search($event)" (reset)="search($event)"></log-filter>

<br/>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-xs-3">{{ "OPERATOR-ADMIN.LOGS.LAST_MODIFIED" | translate }}</th>
          <th class="col-xs-4">{{ "OPERATOR-ADMIN.LOGS.LOCATION_NAME" | translate }}</th>
          <th class="col-xs-4">{{ "OPERATOR-ADMIN.LOGS.CUSTOMER_NAME" | translate }}</th>
          <th class="col-xs-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let locationLog of locationLogs">
          <td>{{ locationLog.dateTimeLastLog | date: 'dd/MM/yyyy' }}</td>
          <td>{{ locationLog.location.name }}</td>
          <td>{{ locationLog.location.owner.profile.firstName + " " +  locationLog.location.owner.profile.lastName }}</td>
          <td>
            <button class="btn btn-sm" (click)="doViewDetails(locationLog.id)">{{ "COMMON.VIEW" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
  </div>
</div>