<div class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{"CUSTOMER-ADMIN.APPLICATION" | translate}}</h3>
        </div>

        <button class="btn btn-info pull-right"><i class="fa fa-newspaper-o" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.VIEW_REPORTS" | translate}}</button>

        <div class="panel-body">
          <!--Personal info-->
          <div id="personalInfo" class="col-xs-3">
            <div class="form-group">
              <label class="panel-title"><i class="fa fa-user-circle" aria-hidden="true"></i> {{"COMMON.PERSONAL_INFO" | translate}}</label>
              <button id="editPerson" (click)="editPersonalInfo()" class="btn btn-default pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{"COMMON.EDIT" | translate}}</button>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="firstName">{{"COMMON.FIRST_NAME" | translate}}</label>
                  <input type="text" class="form-control" #firstName="ngModel" id="firstName" name="firstName"
                         [ngModel]="application.applicationProfile.firstName" disabled>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="lastName">{{"COMMON.LAST_NAME" | translate}}</label>
                  <input type="text" class="form-control" #lastName="ngModel" id="lastName" name="lastName"
                         [ngModel]="application.applicationProfile.lastName" disabled>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="emailAddress">{{"COMMON.EMAIL" | translate}}</label>
                  <input type="text" class="form-control" #emailAddress="ngModel" id="emailAddress" name="emailAddress" [ngModel]="application.applicationProfile.emailAddress" disabled>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label for="phone">{{"COMMON.PHONE_NUMBER" | translate}}</label>
                  <input type="text" class="form-control" id="phone" name="phone" [ngModel]="application.applicationProfile.phone" disabled>
                </div>
              </div>
            </div>
          </div>
          <!--Cameras info-->
          <div id="camerasInfo" class="col-xs-8 line">
            <div class="form-group">
              <label class="panel-title"><i class="fa fa-video-camera" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.CAMERAS_INFO" | translate}}</label>
            </div>
            <table>
              <tbody>
              <tr>
                <td>Number of hours purchased by customer:</td>
                <td>{{ amountOfHoursPurchased }}</td>
                <td>
                  <button class="btn btn-link" role="link" id="addPurchase" (click)="openAddPurchasedHoursModal()">{{"CUSTOMER-ADMIN.ADD_PURCHASE" | translate}}</button>
                </td>
              </tr>
              <tr>
                <td>Number of viewing hours total during 1 week:</td>
                <td>{{ amountOfViewingTime }}</td>
                <td></td>
              </tr>
              <tr>
                <td>Number of hours used by customer:</td>
                <td>{{ amountOfUsedHours }}</td>
                <td></td>
              </tr>
              <tr>
                <td>Default viewing hours:</td>
                <td><li *ngFor="let defaultViewingHoursItem of defaultViewingHoursView">{{defaultViewingHoursItem.fromTime.slice(0, 5)}} - {{defaultViewingHoursItem.toTime.slice(0, 5)}} on {{"DAYS-OF-WEEK." + defaultViewingHoursItem.dayOfWeek | translate}}</li></td>
                <td>
                  <button class="btn btn-link pull-right" role="link" id="editDefaultViewingHours" (click)="openDefaultViewingHoursModal()">{{"COMMON.EDIT" | translate}}</button>
                </td>
              </tr>
              </tbody>
            </table>
            <accordion>
              <accordion-group #group *ngFor="let applicationLocation of applicationLocations" (click)="getApplicationCamerasByApplicationLocation(applicationLocation, group.isOpen)">
                <div accordion-heading>
                  <button class="btn btn-link pull-right" role="link" (click)="onEvent($event); openConfirmDeleteApplicationLocationModal(applicationLocation)">{{"COMMON.DELETE" | translate}}</button>
                  {{applicationLocation.name}} - {{applicationLocation.address}}
                  ({{applicationLocation.timezone}})<br>
                  {{applicationLocation.comment}}
                </div>
                <button class="btn btn-primary" routerLink="camera-info/add"><i class="fa fa-video-camera" aria-hidden="true"></i> {{"COMMON.ADD" | translate}}</button>
                <div *ngFor="let applicationCamera of applicationLocation.applicationCameras">
                  <hr style="margin-top: 10px;">
                  <button class="btn btn-default pull-right" [routerLink]="['./camera-info/', applicationCamera.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{"COMMON.EDIT" | translate}}</button>
                  <div class="form-group">
                    <label>{{"COMMON.NAME" | translate}}:</label>
                    {{applicationCamera.name}}
                  </div>
                  <div class="form-group">
                    <label>{{"COMMON.COMMENT" | translate}}:</label>
                    {{applicationCamera.comment}}
                  </div>
                  <div class="form-group">
                    <label>URL:</label>
                    {{applicationCamera.url}}
                  </div>
                  <div class="form-group">
                    <label>{{"COMMON.LOGIN" | translate}}:</label>
                    {{applicationCamera.login}}
                  </div>
                  <div class="form-group">
                    <label>{{"COMMON.PASSWORD" | translate}}:</label>
                    {{applicationCamera.password}}
                  </div>
                  <div class="form-group">
                    <label>{{"COMMON.PROPERTIES" | translate}}:</label>
                    {{applicationCamera.properties.activationStatus}}, {{applicationCamera.properties.assignedTo}}<span *ngIf="applicationCamera.properties.disconnectedStatus">, Disconnected</span>
                  </div>
                  <div class="form-group">
                    <label>{{"CUSTOMER-ADMIN.ACTIONS" | translate}}:</label>
                  </div>
                </div>
              </accordion-group>
            </accordion>
            <button class="btn btn-primary" (click)="openAddLocationModal()">{{"CUSTOMER-ADMIN.ADD_LOCATION" | translate}}</button>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!--Confirm deleting location modal-->
<div bsModal #confirmDeleteApplicationLocationModal="bs-modal" (onHide)="onHideConfirmDeleteApplicationLocationModal()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center" [innerHTML]="'CUSTOMER-ADMIN.CONFIRM_DELETING_LOCATION' | translate"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="confirmDeleteApplicationLocationModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
        <button type="button" class="btn btn-danger pull-right" (click)="doDeleteApplicationLocation()">
          <i class="fa fa-trash" aria-hidden="true"></i> {{ "COMMON.DELETE" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--Add new location modal-->
<div bsModal #addLocationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="addLocationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{"CUSTOMER-ADMIN.ADD_LOCATION" | translate}}</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <form id="addLocation" (ngSubmit)="saveApplicationLocation(newApplicationLocation)"
                  #addLocationForm="ngForm">
              <div class="form-group">
                <input type="text" class="form-control" #name="ngModel" required [minlength]="2" [maxlength]="25"
                       id="name" name="name" placeholder="{{'COMMON.NAME' | translate}}" [(ngModel)]="newApplicationLocation.name">
                <div class="alert alert-danger" *ngIf="name.errors?.minlength && name.touched">
                  {{"VALIDATION.MINIMUM_2_CHARS" | translate}}
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" #address="ngModel" required [minlength]="2" [maxlength]="25"
                       id="address" name="address" placeholder="{{'COMMON.ADDRESS' | translate}}" [(ngModel)]="newApplicationLocation.address">
                <div class="alert alert-danger" *ngIf="address.errors?.minlength && address.touched">
                  {{"VALIDATION.MINIMUM_2_CHARS" | translate}}
                </div>
              </div>
              <div class="form-group">
                <select #timeZone="ngModel" required id="timezone" name="timezone" class="form-control" [(ngModel)]="newApplicationLocation.timezone">
                  <option [value]="timezone" disabled selected style="display: none;">{{'COMMON.TIME_ZONE' |
                    translate}}
                  </option>
                  <option *ngFor="let timezone of timezones" [value]="timezone">{{timezone}}</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" #comment="ngModel" id="comment" name="comment"
                       placeholder="{{'COMMON.COMMENT' | translate}}" [(ngModel)]="newApplicationLocation.comment">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-default pull-left" (click)="addLocationModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
            <button type="submit" form="addLocation" class="btn btn-primary" [disabled]="!addLocationForm.form.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add purchased hours-->
<div bsModal #addPurchasedHoursModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="addPurchasedHoursModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{"CUSTOMER-ADMIN.ADD_PURCHASE" | translate}}</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <form id="addPurchasedHoursForm" (ngSubmit)="addPurchasedHours()" #addPurchasedHoursForm="ngForm">
              <div class="form-group">
                <datetime [(ngModel)]="applicationPurchasedHours.purchaseDate" [timepicker]="false" [datepicker]="datepickerOpts" #purchaseDate="ngModel" [ngModelOptions]="{standalone: true}"></datetime>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" #hoursAmount="ngModel" required
                       id="hoursAmount" name="hoursAmount" placeholder="{{'CUSTOMER-ADMIN.AMOUNT_OF_HOURS' | translate}}" [(ngModel)]="applicationPurchasedHours.amountPurchasedHours">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-default pull-left" (click)="addPurchasedHoursModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
            <button type="submit" form="addPurchasedHoursForm" class="btn btn-primary" [disabled]="!addPurchasedHoursForm.form.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Default viewing hours-->
<div bsModal #defaultViewingHoursModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="defaultViewingHoursModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{"CUSTOMER-ADMIN.EDIT_VIEWING_HOURS" | translate}}</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
          <table>
            <tbody>
            <tr *ngFor="let viewingHoursItem of  viewingHoursView">
              <td><input type="checkbox" [(ngModel)]="viewingHoursItem.active" [ngModelOptions]="{standalone: true}"></td>
              <td>{{"DAYS-OF-WEEK." + viewingHoursItem.dayOfWeek | translate}}</td>
              <td *ngIf="viewingHoursItem.active">{{"CUSTOMER-ADMIN.START_TIME" | translate}}</td>
              <td *ngIf="viewingHoursItem.active">
                <select name="fromHours" [(ngModel)]="viewingHoursItem.from.hours" (change)="onChangedFromHours($event.target.value, viewingHoursItem)">
                  <option *ngFor="let hour of hoursList" [value]="hour">{{hour}}</option>
                </select>
                :
                <select name="fromMinutes" [(ngModel)]="viewingHoursItem.from.minutes" (change)="onChangedFromMinutes($event.target.value, viewingHoursItem)">
                  <option *ngFor="let minute of minutesList" [value]="minute">{{minute}}</option>
                </select>
              </td>
              <td *ngIf="viewingHoursItem.active">{{"CUSTOMER-ADMIN.END_TIME" | translate}}</td>
              <td *ngIf="viewingHoursItem.active">
                <select name="toHours" [(ngModel)]="viewingHoursItem.to.hours">
                  <option *ngFor="let hour of hoursList | hourToFilter: viewingHoursItem.from.hours" [value]="hour">{{hour}}</option>
                </select>
                :
                <select name="toMinutes" [(ngModel)]="viewingHoursItem.to.minutes">
                  <option *ngFor="let minute of minutesList | minutesToFilter :viewingHoursItem.from.hours :viewingHoursItem.to.hours :viewingHoursItem.from.minutes" [value]="minute">{{minute}}</option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-default pull-left" (click)="defaultViewingHoursModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
            <button type="button" class="btn btn-primary pull-right" (click)="saveDefaultViewingHours()" ><i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>