<router-outlet></router-outlet>

<footer class="footer">
  <div class="container footy-container">
    <p class="text-muted pull-right"><strong><i class="fa fa-copyright" aria-hidden="true"></i> Keymakr 2016</strong></p>
  </div>
</footer>
