<nav class="navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="dashboard">{{"CUSTOMER.DASHBOARD" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="profile">{{"CUSTOMER.PROFILE" | translate}}</a></li>
    </ul>

    <div class="nav navbar-right">
      <language-switcher></language-switcher>
      <logout></logout>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>