<div class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h2 *ngIf="!editFl" class="panel-title"><i class="fa fa-video-camera" aria-hidden="true"></i>
              {{"CUSTOMER-ADMIN.ADD_CAMERA" | translate}}</h2>
            <h2 *ngIf="editFl" class="panel-title"><i class="fa fa-video-camera" aria-hidden="true"></i>
              {{"CUSTOMER-ADMIN.EDIT_CAMERA" | translate}}</h2>
        </div>
      </div>
      <div class="panel-body">
          <div class="col-xs-9">
            <form id="cameraInfoForm" (ngSubmit)="onSubmit($event)" #cameraInfoForm="ngForm">
              <h4>{{"CUSTOMER-ADMIN.MAIN_CAMERA_INFO" | translate}}</h4>
              <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="location">{{"COMMON.LOCATION" | translate}}</label>
                  <select #location="ngModel" required id="location" name="location" class="form-control"
                          [(ngModel)]="applicationCamera.applicationLocation.id">
                    <option [value]="0" disabled selected style="display: none;">{{"CUSTOMER-ADMIN.SELECT_LOCATION" |
                      translate}}
                    </option>
                    <option *ngFor="let applicationLocation of applicationLocations" [value]="applicationLocation.id">
                      {{applicationLocation.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="cameraName">{{"COMMON.NAME" | translate}}</label>
                  <input type="text" class="form-control" #cameraName="ngModel" required [minlength]="2" [maxlength]="25"
                         id="cameraName" name="cameraName" placeholder="{{'COMMON.NAME' | translate}}" [(ngModel)]="applicationCamera.name">
                  <div class="alert alert-danger" *ngIf="cameraName.errors?.minlength && cameraName.touched"> {{"VALIDATION.MINIMUM_2_CHARS" | translate}}
                  </div>
                </div>
                <div class="form-group">
                  <label for="cameraUrl">URL</label>
                  <input type="text" class="form-control" #cameraUrl="ngModel" required id="cameraUrl" name="cameraUrl"
                         placeholder="URL" [(ngModel)]="applicationCamera.url">
                </div>
                <div class="form-group">
                  <label for="cameraComment">{{"COMMON.COMMENT" | translate}}</label>
                  <input type="text" class="form-control" #cameraComment="ngModel" id="cameraComment" name="cameraComment"
                         placeholder="{{'COMMON.COMMENT' | translate}}" [(ngModel)]="applicationCamera.comment">
                </div>
                <div class="form-group">
                  <label for="login">{{"COMMON.LOGIN" | translate}}</label>
                  <input type="text" class="form-control" #cameraComment="ngModel" required id="login" name="login"
                         placeholder="{{'COMMON.LOGIN' | translate}}" [(ngModel)]="applicationCamera.login">
                </div>
                <div class="form-group">
                  <label for="password">{{"COMMON.PASSWORD" | translate}}</label>
                  <input type="text" class="form-control" #cameraComment="ngModel" required id="password" name="password"
                         placeholder="{{'COMMON.PASSWORD' | translate}}" [(ngModel)]="applicationCamera.password">
                </div>
              </div>
              </div>
              <!--Action for stream section-->
              <hr>
              <div>
                <h4>{{"CUSTOMER-ADMIN.STREAM_ACTIONS" | translate}}</h4>
                <div class="form-group">

                </div>
              </div>
              <!--Viewing hours section-->
              <hr>
              <div>
                <h4>{{"CUSTOMER-ADMIN.VIEWING_HOURS" | translate}}</h4>
                <div class="form-group">
                  <input type="checkbox" [(ngModel)]="applicationCamera.useDefaultViewingHours" [ngModelOptions]="{standalone: true}">{{"CUSTOMER-ADMIN.USE_DEFAULT_VIEWING_HOURS" | translate}}
                </div>
                <div class="form-group" *ngIf="!applicationCamera.useDefaultViewingHours">
                  <table>
                    <tbody>
                    <tr *ngFor="let viewingHoursItem of viewingHoursView">
                      <td><input type="checkbox" [(ngModel)]="viewingHoursItem.active" [ngModelOptions]="{standalone: true}"></td>
                      <td>{{"DAYS-OF-WEEK." + viewingHoursItem.dayOfWeek | translate}}</td>
                      <td *ngIf="viewingHoursItem.active">{{"CUSTOMER-ADMIN.START_TIME" | translate}}</td>
                      <td *ngIf="viewingHoursItem.active">
                        <select name="fromHours" [(ngModel)]="viewingHoursItem.from.hours" [ngModelOptions]="{standalone: true}" (change)="onChangedFromHours($event.target.value, viewingHoursItem)">
                          <option *ngFor="let hour of hoursList" [value]="hour">{{hour}}</option>
                        </select>
                        :
                        <select name="fromMinutes" [(ngModel)]="viewingHoursItem.from.minutes" [ngModelOptions]="{standalone: true}" (change)="onChangedFromMinutes($event.target.value, viewingHoursItem)">
                          <option *ngFor="let minute of minutesList" [value]="minute">{{minute}}</option>
                        </select>
                      </td>
                      <td *ngIf="viewingHoursItem.active">{{"CUSTOMER-ADMIN.END_TIME" | translate}}</td>
                      <td *ngIf="viewingHoursItem.active">
                        <select name="toHours" [(ngModel)]="viewingHoursItem.to.hours" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let hour of hoursList | hourToFilter: viewingHoursItem.from.hours" [value]="hour">{{hour}}</option>
                        </select>
                        :
                        <select name="toMinutes" [(ngModel)]="viewingHoursItem.to.minutes" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let minute of minutesList | minutesToFilter :viewingHoursItem.from.hours :viewingHoursItem.to.hours :viewingHoursItem.from.minutes" [value]="minute">{{minute}}</option>
                        </select>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </form>
          </div>
          <div class="col-xs-3">
            <button style="width: 200px;" class="btn btn-danger pull-right" (click)="confirmDeleteCameraModal.show()"><i class="fa fa-video-camera" aria-hidden="true"></i>
              {{"CUSTOMER-ADMIN.DELETE_CAMERA" | translate}}
            </button>
            <button style="margin-top: 25px; width: 200px;" class="btn btn-danger pull-right" (click)="confirmDeactivateCameraModal.show()" *ngIf="applicationCamera.activationDate"><i class="fa fa-video-camera" aria-hidden="true"></i>
              {{"CUSTOMER-ADMIN.DEACTIVATE_CAMERA" | translate}}
            </button>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-6">
            <button type="button" class="btn btn-default" (click)="cancel()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
            <button type="button" class="btn btn-info"><i class="fa fa-video-camera" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.PREVIEW_CAMERA" | translate}}</button>
            <button type="submit" form="cameraInfoForm" class="btn btn-primary" [disabled]="!cameraInfoForm.form.valid" *ngIf="!applicationCamera.activationDate">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.ACTIVATE" | translate}}</button>
            <button type="submit" form="cameraInfoForm" class="btn btn-primary" [disabled]="!cameraInfoForm.form.valid" *ngIf="applicationCamera.activationDate">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Confirm deleting location modal-->
<div bsModal #confirmDeleteCameraModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center" [innerHTML]="'CUSTOMER-ADMIN.CONFIRM_DELETING_CAMERA' | translate"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="confirmDeleteCameraModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
        <button type="button" class="btn btn-danger pull-right" (click)="doDeleteApplicationCamera()">
          <i class="fa fa-trash" aria-hidden="true"></i> {{ "COMMON.DELETE" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!--Confirm deactivation location modal-->
<div bsModal #confirmDeactivateCameraModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center" [innerHTML]="'CUSTOMER-ADMIN.CONFIRM_DELETING_CAMERA' | translate"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="confirmDeactivateCameraModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
        <button type="button" class="btn btn-danger pull-right" (click)="doDeactivateApplicationCamera()">
          <i class="fa fa-trash" aria-hidden="true"></i> {{ "CUSTOMER-ADMIN.DEACTIVATE" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>