<nav class="navbar navbar-inverse">
  <div class="container">
    <span class="navbar-brand"><i class="fa fa-key" aria-hidden="true"></i> KEYMAKR</span>
    <login></login>
  </div>
</nav>

<div class="container" style="padding-top: 15px;">
  <div class="jumbotron">
    <h3>KEYMAKR - Unlock Your Potential</h3>
    <p>Register until Jan 31 2017 and get free access for 30 days.</p>
    <p><a class="btn btn-primary btn-lg" routerLink="registration" role="button">Apply for registration</a></p>
  </div>
</div>

<div class="container">
  <h2 class="text-center guest-h2">About Us</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="img/home/home1.png">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <blockquote>
        KEYMAKR will provide you security services and reports.<br/><br/>
        The Real Time Streaming Protocol (RTSP) is a network control protocol designed for use in entertainment and communications systems to control streaming media servers. The protocol is used for establishing and controlling media sessions between end points. Clients of media servers issue VCR-style commands, such as play, record and pause, to facilitate real-time control of the media streaming from the server to a client (Video On Demand) or from a client to the server (Voice Recording).
      </blockquote>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center guest-h2">Contact Us</h2>
  <div class="row">
    <div class="col-md-5">
      <div class="jumbotron">
        <address>
          <strong>Keymakr, Inc.</strong><br>
          1355 Market Street, Suite 900<br>
          TEl Aviv, CA 94103<br>
          Phone: (123) 456-7890
        </address>
        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">first.last@example.com</a>
        </address>
      </div>
    </div>
    <div class="col-md-7">
      <blockquote>
        KEYMAKR will provide you security services and reports.<br/><br/>
        The Real Time Streaming Protocol (RTSP) is a network control protocol designed for use in entertainment and communications systems to control streaming media servers. The protocol is used for establishing and controlling media sessions between end points. Clients of media servers issue VCR-style commands, such as play, record and pause, to facilitate real-time control of the media streaming from the server to a client (Video On Demand) or from a client to the server (Voice Recording).
      </blockquote>
    </div>
  </div>
</div>


