<div>
  <form [formGroup]="filterStreamForm">
    <div class="row form-group">
      <div class="col-xs-1"><h4>{{"COMMON.FILTER" | translate}}:</h4></div>
      <div class="col-xs-2">
        <select class="form-control" formControlName="operator">
          <option value="0">{{"COMMON.FILTER-FIELD.ALL_OPERATORS" | translate}}</option>
          <option *ngFor="let operator of allOperators" value="{{ operator.id }}">
            {{ operator.profile.firstName + ' ' + operator.profile.lastName }}
          </option>
        </select>
      </div>
      <div class="col-xs-5">
        <select class="form-control" formControlName="location">
          <option value="0">{{"COMMON.FILTER-FIELD.ALL_LOCATIONS" | translate}}</option>
          <option *ngFor="let location of allLocations" value="{{ location.id }}">
            {{ location.name }}
          </option>
        </select>
      </div>
      <div class="col-xs-2">
        <select class="form-control" formControlName="camera">
          <option value="0">{{"COMMON.FILTER-FIELD.ALL_CAMERAS" | translate}}</option>
          <option *ngFor="let camera of allCameras" value="{{ camera.id }}">
            {{ camera.name }}
          </option>
        </select>
      </div>
      <div class="col-xs-2">
        <select class="form-control" formControlName="customer">
          <option value="0" >{{"COMMON.FILTER-FIELD.ALL_CUSTOMERS" | translate}}</option>
          <option *ngFor="let customer of allCustomers" value="{{ customer.id }}">
            {{ customer.profile.firstName + ' ' + customer.profile.lastName }}
          </option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-1"></div>
      <div class="col-xs-2">
        <select class="form-control" formControlName="state">
          <option value="">{{"COMMON.FILTER-FIELD.ALL_STATES" | translate}}</option>
          <option value="STREAMING" selected="selected">{{"COMMON.CAMERA-STATUS.STREAMING" | translate}}</option>
          <option value="PENDING" selected="selected">{{"COMMON.CAMERA-STATUS.PENDING" | translate}}</option>
          <option value="DISCONNECTED" selected="selected">{{"COMMON.CAMERA-STATUS.DISCONNECTED" | translate}}</option>
        </select>
      </div>
      <div class="col-xs-8">
          <input class="form-control" placeholder='{{"COMMON.SEARCH" | translate}}' formControlName="searchString"/>
      </div>
      <div class="col-xs-1">
        <button class="btn btn-danger pull-right" type="button" (click)="onReset()">
          <i class="fa fa-eraser" aria-hidden="true"></i> {{"COMMON.FILTER-FIELD.RESET" | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
