<form class="navbar-form navbar-right" (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <span *ngIf="error" class="alert alert-danger">{{error}}</span>
  <div class="form-group">
    <select [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control login-select">
      <option>customer</option>
      <option>customer_admin</option>
      <option>operator</option>
      <option>operator_admin</option>
      <option>main_admin</option>
    </select>
  </div>
  <div class="form-group">
    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default login-btn" [disabled]="!loginForm.form.valid"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</button>
</form>