<nav class="navbar navbar-inverse">
  <div class="container">

    <div class="nav navbar-right">
      <language-switcher></language-switcher>
      <logout></logout>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>