<div class="row">
  <div class="col-xs-10">
    <h2 class="text-left">{{ currentLocation?.name }}</h2>
  </div>
</div>

<log-details-filter [filter]="logDetailsFilter" (search)="search($event)" (reset)="search($event)"></log-details-filter>

<br/>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-xs-2">{{ "OPERATOR-ADMIN.LOGS.DATE_AND_TIME" | translate }}</th>
          <th class="col-xs-3">{{ "OPERATOR-ADMIN.LOGS.STREAM_NAME" | translate }}</th>
          <th class="col-xs-3">{{ "OPERATOR-ADMIN.LOGS.ACTION_PARAMETER" | translate }}</th>
          <th class="col-xs-2">{{ "COMMON.OPERATOR" | translate }}</th>
          <th class="col-xs-1 text-center">{{ "COMMON.TIMELINE" | translate }}</th>
          <th class="col-xs-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logDetails of logsDetails">
          <td>{{ logDetails.dateTimeStart  | date: 'dd/MM/yyyy' }}</td>
          <td>{{ logDetails.cameraAction.camera.name }}</td>
          <td>{{ logDetails.cameraAction.action.name + (logDetails.actionParameter ? (" - " + logDetails.actionParameter) : "") }}</td>
          <td>{{ logDetails.operator.profile.firstName + " " + logDetails.operator.profile.lastName }}</td>
          <td class="text-center">{{ (logDetails.isMain ? "OPERATOR-ADMIN.STREAMS.MAIN" : "OPERATOR-ADMIN.STREAMS.NOT_MAIN") | translate}}</td>
          <td>
            <button class="btn btn-sm not-implemented-yet" (click)="doViewDetails(logDetails.id)">{{ "COMMON.VIEW" | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
  </div>
</div>