<div bsModal #cameraPreviewModal="bs-modal" class="modal fade container" tabindex="-1" role="dialog" >
  <div class="modal-dialog" [ngStyle]="{ 'height': '520px', 'width': '680px' }">
    <div class="modal-content">


      <div class="modal-body" *ngIf="camera">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="text-center">{{ camera.name }}</h3>
        <br/>
        <div [ngStyle]="{ 'height': '480px', 'width': '640px', 'merge': 'auto', 'border': '1px solid green' }">

        </div>
      </div>
    </div>

  </div>
</div>