<div class="row" *ngIf="isHeader">
  <div class="col-xs-5">{{ "COMMON.LOCATION" | translate}}</div>
  <div class="col-xs-3">{{ "COMMON.CAMERA_NAME" | translate}}</div>
  <div class="col-xs-2 text-center">{{ "COMMON.VIEWING_HOURS" | translate}}</div>
  <div class="col-xs-1 text-center">{{ "OPERATOR-ADMIN.OPERATORS.TITLE" | translate}}</div>
</div>


<div *ngIf="!isHeader">
  <div class="row">
    <div class="col-xs-5">{{ cameraAssignment.camera.location.name }}</div>
    <div class="col-xs-3">
      <button class="btn-link" (click)="toggleOperators()">{{ cameraAssignment.camera.name }}</button>
    </div>
    <div class="col-xs-2 text-center">
      <button class="btn-link" (click)="toggleDetails()">
        {{ (isDetailsShown ? "COMMON.HIDE" : "COMMON.SHOW") | translate }}
      </button>
    </div>
    <div class="col-xs-1 text-center">
      <button *ngIf="! cameraAssignment.total" class="btn-link" (click)="onAssign()">{{ "COMMON.ASSIGN" | translate }}
      </button>
      <span *ngIf="cameraAssignment.total > 0">{{cameraAssignment.total}}</span>
    </div>
    <div class="col-xs-1 text-center">
      <button class="btn btn-sm not-implemented-yet" (click)="onPreview()">
        <i class="fa fa-globe" aria-hidden="true"></i> {{ "COMMON.PREVIEW" | translate}}
      </button>
    </div>
  </div>

  <div class="row" *ngIf="isDetailsShown">
    <div class="col-xs-5 not-implemented-yet">
      <h5>Viewing hours:</h5>
      <ul>
        <li>12:00 - 15:00 on Saturday</li>
        <li>08:00 - 17:00 on Weekdays</li>
      </ul>
    </div>
  </div>

  <div class="row" *ngIf="isOperatorsShown">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-3">
          <button class="btn-link" (click)="onAssign()">
            {{ "OPERATOR-ADMIN.OPERATORS.ADD_OPERATOR" | translate }}
          </button>
        </div>
        <div class="col-xs-9">
          <div *ngFor="let cameraOperator of cameraOperators" class="row">
            <div class="col-xs-6">
              {{ cameraOperator.operator.profile.firstName + " " + cameraOperator.operator.profile.lastName }}
            </div>
            <div *ngIf="!cameraOperator.isMain" class="col-xs-5">
              <button class="btn-link" (click)="onMakeMainOperator(cameraOperator)">
                {{ "OPERATOR-ADMIN.STREAMS.MAKE_MAIN" | translate }}
              </button>
              <button class="btn-link" (click)="onDeleteOperator(cameraOperator)">
                {{ "COMMON.DELETE" | translate }}
              </button>
            </div>
          </div>
          <div *ngFor="let cameraOperator of deletedCameraOperators" class="row">
            <div class="col-xs-6">
              {{ cameraOperator.operator.profile.firstName + " " + cameraOperator.operator.profile.lastName }}
            </div>
            <div class="col-xs-5">
              <button class="btn-link" [hidden]="true" >
                {{ "OPERATOR-ADMIN.STREAMS.MAKE_MAIN" | translate }}
              </button>
              <button class="btn-link" (click)="onUnDeleteOperator(cameraOperator)">
                {{ "COMMON.UNDO" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>