<div class="row">
  <h2 class="text-left">{{"OPERATOR-ADMIN.STREAMS.TITLE" | translate}}</h2>
</div>

<br/>
<stream-filter [filter]="streamFilter" (search)="search($event)" (reset)="search($event)"></stream-filter>
<br/>


<div class="panel panel-default">
  <div class="panel-heading">
    <stream-list-item [isHeader]="true"></stream-list-item>
  </div>
  <div class="panel-body">
    <stream-list-item *ngFor="let cameraAssignment of cameraAssignments"
                      [cameraAssignment]="cameraAssignment"
                      [assignModal]="assignModal"
                      [previewModal]="previewModal">
    </stream-list-item>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <pagination [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
  </div>
</div>

<assign-operator-modal #assignModal></assign-operator-modal>

<camera-preview-modal #previewModal></camera-preview-modal>