<div class="row">
  <form [formGroup]="filterOperatorForm">
    <div class="col-xs-9 form-group">
        <input type="text"
               class="form-control"
               placeholder='{{"COMMON.SEARCH_BY_NAME_OR_EMAIL" | translate}}'
               formControlName="searchString">
    </div>
    <div class="col-xs-3">
      <select class="form-control" formControlName="state">
        <option value="" selected="selected">{{"OPERATOR.STATE.ALL" | translate}}</option>
        <option value="WORKING">{{"OPERATOR.STATE.WORKING" | translate}}</option>
        <option value="PAUSED">{{"OPERATOR.STATE.PAUSED" | translate}}</option>
        <option value="NOT_WORKING">{{"OPERATOR.STATE.NOT_WORKING" | translate}}</option>
      </select>

      <button type="button" class="btn btn-link pull-right" (click)="onReset()">
        <i class="fa fa-remove" aria-hidden="true"></i>
        {{ "COMMON.CLEAR_SEARCH" | translate }}
      </button>
    </div>
  </form>
</div>