<nav class="navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="customers">{{"CUSTOMER-ADMIN.CUSTOMERS" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="applications">{{"CUSTOMER-ADMIN.APPLICATIONS" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="actions">{{"CUSTOMER-ADMIN.ACTIONS" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="special-reports">{{"CUSTOMER-ADMIN.SPECIAL_REPORTS" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="alerts">{{"CUSTOMER-ADMIN.ALERTS" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="manage-support">{{"CUSTOMER-ADMIN.MANAGE_SUPPORT" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="profile">{{"CUSTOMER-ADMIN.PROFILE" | translate}}</a></li>
    </ul>

    <div class="nav navbar-right">
      <language-switcher></language-switcher>
      <logout></logout>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>