<div class="navbar-form navbar-left form-group">
  <select class="form-control" [(ngModel)]="currentLang" name="currentLang">
    <option *ngFor="let lang of languages" [value]="lang">{{ supportedLanguages[lang] }}</option>
  </select>
</div>
