<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="pull-left">{{"CUSTOMER-ADMIN.PREDEFINED_ACTIONS" | translate}}</h3></div>
    <div class="col-md-6" style="padding-top: 15px;">
      <button type="button" class="btn btn-primary pull-right" (click)="addActionModal.show()"><i class="fa fa-plus" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.ADD_ACTION" | translate}}</button>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 10px;">
  <div class="row" *ngFor="let action of actions" style="padding-top: 10px;">
    <div class="col-md-12">
    <div class="col-md-5">
      <div class="row">
      <input [disabled]="!action.editFl" type="text" class="form-control" [(ngModel)]="action.name">
      </div>
      <div class="row col-md-offset-1">
      <input [disabled]="!action.editFl" type="text" class="form-control" [(ngModel)]="action.metadata">
      </div>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <button type="button" class="btn btn-success" (click)="updateAction(action)" *ngIf="action.editFl"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="action.editFl = true;" *ngIf="!action.editFl"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{"COMMON.EDIT" | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="deleteAction(action)" *ngIf="!action.editFl"><i class="fa fa-trash" aria-hidden="true"></i> {{"COMMON.DELETE" | translate}}</button>
      <button type="button" class="btn btn-danger" (click)="action.editFl = false;" *ngIf="action.editFl"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
    </div>
    </div>
      <div class="row" *ngFor="let parameter of action.parameters">
        <div class="col-md-12">
        <div class="col-md-4 col-md-offset-1">
          <input [disabled]="!parameter.editFl" type="text" class="form-control" [(ngModel)]="parameter.name">
        </div>
        <div class="col-md-3 col-md-offset-2">
         <button type="button" class="btn btn-primary" (click)="updateActionParameter(parameter); parameter.editFl = false;" *ngIf="parameter.editFl"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
         <button type="button" class="btn btn-primary" (click)="parameter.editFl = true;" *ngIf="!parameter.editFl"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{"COMMON.EDIT" | translate}}</button>
         <button type="button" class="btn btn-danger" (click)="deleteActionParameter(parameter)" *ngIf="!parameter.editFl"><i class="fa fa-trash" aria-hidden="true"></i> {{"COMMON.DELETE" | translate}}</button>
         <button type="button" class="btn btn-danger" (click)="parameter.editFl = false;" *ngIf="parameter.editFl"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <button class="btn btn-link" role="link" (click)="addActionParameter(action)">{{"CUSTOMER-ADMIN.ADD_PARAMETER" | translate}}</button>
      </div>

  </div>
</div>

<!--Add new action modal-->
<div bsModal #addActionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="addActionModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{"CUSTOMER-ADMIN.ADD_ACTION" | translate}}</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <form id="addAction" (ngSubmit)="saveAction()" #addAction="ngForm">
              <div class="form-group">
                <label for="name">{{'CUSTOMER-ADMIN.ACTION_NAME' | translate}}</label>
                <input type="text" class="form-control" #name="ngModel" required [minlength]="2" [maxlength]="25"
                       id="name" name="name" placeholder="{{'CUSTOMER-ADMIN.ACTION_NAME' | translate}}" [(ngModel)]="newAction.name">
                <div class="alert alert-danger" *ngIf="name.errors?.minlength && name.touched">
                  {{"VALIDATION.MINIMUM_2_CHARS" | translate}}
                </div>
              </div>
              <div class="form-group">
                <label for="metadata">{{'CUSTOMER-ADMIN.ACTION_METADATA' | translate}}</label>
                <input type="text" class="form-control" #address="ngModel" required [minlength]="2"
                       id="metadata" name="metadata" placeholder="{{'CUSTOMER-ADMIN.ACTION_METADATA' | translate}}" [(ngModel)]="newAction.metadata">
                <div class="alert alert-danger" *ngIf="address.errors?.minlength && address.touched">
                  {{"VALIDATION.MINIMUM_2_CHARS" | translate}}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <button type="button" class="btn btn-default pull-left" (click)="addActionModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
            <button type="submit" form="addAction" class="btn btn-primary" [disabled]="!addAction.form.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>