<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="pull-left">{{"CUSTOMER-ADMIN.APPLICATIONS" | translate}}</h3></div>
  </div>
</div>
<div class="container" style="padding-top: 20px;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 20%">{{"COMMON.NAME" | translate}}</th>
      <th>{{"COMMON.EMAIL" | translate}}</th>
      <th style="width: 15%">{{"CUSTOMER-ADMIN.APPLICATION_DATE" | translate}}</th>
      <th style="width: 435px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr [style.font-weight]="application.applicationStatus.id == 1 ? 'bold': 'normal'" *ngFor="let application of applicationList">
      <td>{{application.applicationProfile.firstName}} {{application.applicationProfile.lastName}}</td>
      <td>{{application.applicationProfile.emailAddress}}</td>
      <td>{{application.applicationDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm" style="width: 90px;" [routerLink]="['./', application.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{"COMMON.EDIT" | translate}}</button>
        <button type="button" class="btn btn-success btn-sm" style="width: 150px; margin-left: 10px;" (click)="activateAccount(application)"><i class="fa fa-check" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.ACTIVATE_ACCOUNT" | translate}}</button>
        <button type="button" class="btn btn-danger btn-sm" style="width: 150px; margin-left: 10px;" (click)="showConfirmModal(application)"><i class="fa fa-trash" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.DECLINE_APPLICATION" | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <pagination previousText="&lsaquo;" nextText="&rsaquo;" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
    </div>
  </div>
</div>

<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Declining</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <form id="decline-form" (ngSubmit)="declineApplication()" #declineForm="ngForm">
              <div class="form-group">
                <div class="text-center" [innerHTML]="'CUSTOMER-ADMIN.DECLINE_CONFIRMATION_MESSAGE' | translate:{FIRST_NAME:applicationToDecline.applicationProfile.firstName, LAST_NAME:applicationToDecline.applicationProfile.lastName}"></div>
                <textarea class="form-control" rows="3" [(ngModel)]="applicationToDecline.declineReason" id="declineReason" name="declineReason" required></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <button type="button" class="btn btn-default pull-left" (click)="hideConfirmModal()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
          <button type="submit" form="decline-form" class="btn btn-danger" [disabled]="!declineForm.form.valid"><i class="fa fa-user-times" aria-hidden="true"></i> {{"COMMON.DECLINE" | translate}}</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>