<div class="container">
  <div class="panel-body">
    <div class="col-xs-6">
      <div class="row">
        <Label>Location {{ locationIndex + 1 }} </Label>
        <i class="fa fa-times-circle-o fa-lg" aria-hidden="true" (click)="removeLocation()"></i>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-10">
              <input type="text" class="form-control" #name="ngModel" required [minlength]="2" [maxlength]="25"
                     id="name" name="name" placeholder="Name" [(ngModel)]="applicationLocation.name">
              <div class="alert alert-danger" *ngIf="name.errors?.minlength && name.touched">minimum 2 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-10">
              <input type="text" class="form-control" #address="ngModel" required [minlength]="2" [maxlength]="25"
                     id="address" name="address" placeholder="Address" [(ngModel)]="applicationLocation.address">
              <div class="alert alert-danger" *ngIf="address.errors?.minlength && address.touched">minimum 2
                characters
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-10">
              <select #timeZone="ngModel" required id="timezone" name="timezone" class="form-control" [(ngModel)]="applicationLocation.timezone">
                <option [value]="timezone" disabled selected style="display: none;">Time zone</option>
                <option *ngFor="let timezone of timezones" [value]="timezone">{{timezone}}</option>
              </select>
            </div>
            <div class="col-xs-10"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-10">
              <input type="text" class="form-control" #comment="ngModel" id="comment" name="comment"
                     placeholder="Comment" [(ngModel)]="applicationLocation.comment">
            </div>
          </div>
        </div>
        <registration-camera (deleteCamera)="deleteCamera($event)" [cameraIndex]="i" [applicationCamera]="applicationCamera" *ngFor="let applicationCamera of applicationLocation.applicationCameras let i = index"></registration-camera>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-10">
              <i class="fa fa-plus-circle fa-lg" aria-hidden="true" (click)="addCamera()">Add camera</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



