/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    border-top:1px solid #828588;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .footy-container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
    color:#707070;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.guest-h2 {
    padding-bottom: 15px;
    margin-top:5px;
    margin-bottom:20px;
}

.login-btn {
    margin-left: 10px;
}

.btn-default {
    background-color: #D4D6D8;
}

.login-select {
    width: 178px !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: azure;
}

.jumbotron {
    background-color: #eaedf3;
}

.navbar-inverse {
    background-color:#205081;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #3572b0;
}

.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #3572b0;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #3572b0;
}

.btn-primary {
    background-color: #205081;
}

.carousel-indicators li {
    background-color: #3572b0;
}

.carousel-indicators .active {
    background-color: #205081;
}

.columns-view {
    margin-top:60px;margin-bottom:40px;
}

.logo-style {
    margin: 8px 0px 0px 0px; height: 32px;
}

.table-hover th {
    background-color:#D4D6D8;
}

a {
    color: rgb(53, 114, 176);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #205081;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #205081;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 10px;
}

.breadcrumb {
    margin-bottom: 10px;
}

.form-error {
    color: #ff4441;
}

.alert-footer {
    background-color: #f5f5f5;
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-valid[ng-reflect-phone], .ng-valid.ng-reflect-phone  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #d63f3d; /* red */
}

.line {
    border-left: 2px solid #ccc;
    margin-left: 20px;
    padding-left: 20px;
}

.not-implemented-yet {
    border: 2px solid darkorange;
}