<div class="container">
  <div class="panel-body">
    <div class="col-xs-6">
      <div class="row">
        <span>Camera {{ cameraIndex + 1 }}</span>
        <i class="fa fa-times-circle-o fa-lg" aria-hidden="true" (click)="removeCamera()"></i>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <input type="text" class="form-control" #cameraName="ngModel" required [minlength]="2" [maxlength]="25"
                     id="cameraName" name="cameraName" placeholder="Name" [(ngModel)]="applicationCamera.name">
              <div class="alert alert-danger" *ngIf="cameraName.errors?.minlength && cameraName.touched">minimum 2 characters</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <input type="text" class="form-control" #cameraComment="ngModel" id="cameraComment" name="cameraComment"
                     placeholder="Comment" [(ngModel)]="applicationCamera.comment">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>