<nav class="navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="operators">{{"OPERATOR-ADMIN.OPERATORS.TITLE" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="streams">{{"OPERATOR-ADMIN.STREAMS.TITLE" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="logs">{{"OPERATOR-ADMIN.LOGS.TITLE" | translate}}</a></li>
      <li routerLinkActive="active"><a routerLink="requests">{{"OPERATOR-ADMIN.REQUESTS.TITLE" | translate}}</a></li>
      <li routerLinkActive="active" class="not-implemented-yet"><a routerLink="alerts">{{"OPERATOR-ADMIN.ALERTS" | translate}}</a></li>
      <li routerLinkActive="active" class="not-implemented-yet"><a routerLink="profile">{{"OPERATOR-ADMIN.PROFILE" | translate}}</a></li>
    </ul>

    <div class="nav navbar-right">
      <language-switcher></language-switcher>
      <logout></logout>
    </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
