<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="form form-inline" *ngIf="streamList.length < 6">
        <select id="defaultStreams" name="defaultStreams" class="form-control" [(ngModel)]="selectedStreamId" style="width:230px;">
          <option [value]="0" disabled selected style="display: none;">Select stream to Add...</option>
          <option *ngFor="let defaultStream of defaultStreamList" [value]="defaultStream.id">{{defaultStream.name}}</option>
        </select>
        <button [disabled]="selectedStreamId == 0" type="button" class="btn btn-default btn-sm" (click)="addStream()">Add Stream</button>
      </div>
    </div>
    <div *ngIf="streamList.length > 0" class="col-md-3">
      <div class="form form-inline">
        <select id="currentStreams" name="currentStreams" class="form-control" [(ngModel)]="removeStreamId" style="width:230px;">
          <option [value]="0" disabled selected style="display: none;">Select stream to Remove...</option>
          <option *ngFor="let stream of streamList" [value]="stream.id">{{stream.name}}</option>
        </select>
        <button [disabled]="removeStreamId == 0" type="button" class="btn btn-default btn-sm" (click)="removeStream()">Remove Stream</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-bottom: 50px;">
  <div class="row" style="margin-left: -10px; margin-right: -10px;">

    <div *ngFor="let stream of streamList; let i = index" [ngClass]="getClass(i)" style="padding: 5px;">
      <stream #streams (onAfterInit)="refreshLayout()" [streamName]="stream.name" [streamUrl]="stream.url"></stream>
    </div>

    <div *ngIf="streamList.length == 0" class="col-md-12 text-center"><h4>You don't have any steams assigned yet</h4></div>

  </div>

</div>
