<form [formGroup]="filterLogDetailsForm">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-2 form-group">
      {{ 'COMMON.FILTER-FIELD.FROM' | translate }}
      <datetime formControlName="from" [timepicker]="false"></datetime>
    </div>
    <div class="col-xs-2 form-group">
      {{ "COMMON.FILTER-FIELD.TO" | translate }}
      <datetime formControlName="to" [timepicker]="false"></datetime>
    </div>
    <div class="col-xs-3 form-group">
      <label for="filterStreamSearchString"></label>
      <input type="text"
             class="form-control"
             placeholder='{{"OPERATOR-ADMIN.LOGS.SEARCH_STREAM" | translate}}'
             formControlName="streamSearchString" id="filterStreamSearchString">
    </div>
    <div class="col-xs-3 form-group">
      <label for="filterActionSearchString"></label>
      <input type="text"
             class="form-control"
             placeholder='{{"OPERATOR-ADMIN.LOGS.SEARCH_ACTION" | translate}}'
             formControlName="actionSearchString" id="filterActionSearchString">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-4">
      <select class="form-control" formControlName="isMainTimeline">
        <option value="">{{ "COMMON.TIMELINE" | translate }}</option>
        <option value="true">{{ "OPERATOR-ADMIN.STREAMS.MAIN" | translate }}</option>
        <option value="false">{{ "OPERATOR-ADMIN.STREAMS.NOT_MAIN" | translate }}</option>
      </select>
    </div>

    <div class="col-xs-6 form-group">
        <input type="text"
               class="form-control"
               placeholder='{{"OPERATOR-ADMIN.LOGS.SEARCH_OPERATOR" | translate}}'
               formControlName="operatorSearchString">
    </div>


    <div class="col-xs-1">
      <button class="btn btn-danger pull-right" type="button" (click)="onReset()">
        <i class="fa fa-eraser" aria-hidden="true"></i> {{"COMMON.FILTER-FIELD.RESET" | translate}}
      </button>
    </div>
  </div>
</form>
