<form [formGroup]="filterLogForm">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-2 form-group">
      {{ 'COMMON.FILTER-FIELD.FROM' | translate }}
      <datetime formControlName="from" [timepicker]="false"></datetime>
    </div>
    <div class="col-xs-2 form-group ">
      {{ "COMMON.FILTER-FIELD.TO" | translate }}
      <datetime formControlName="to" [timepicker]="false"></datetime>
    </div>
    <div class="col-xs-7 form-group">
      <label></label>
     <!--{{ "COMMON.LOCATION" | translate }}-->
      <input type="text"
             class="form-control"
             placeholder='{{"OPERATOR-ADMIN.LOGS.SEARCH_LOCATION" | translate}}'
             formControlName="searchString">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-3">
      <select class="form-control" formControlName="customer">
        <option value="0">{{ "COMMON.FILTER-FIELD.ALL_CUSTOMERS" | translate }}</option>
        <option *ngFor="let customer of allCustomers" value="{{ customer.id }}">
          {{ customer.profile.firstName + ' ' + customer.profile.lastName }}
        </option>
      </select>
    </div>

    <div class="col-xs-4">
      <select class="form-control" formControlName="camera">
        <option value="0">{{"COMMON.FILTER-FIELD.ALL_CAMERAS" | translate}}</option>
        <option *ngFor="let camera of allCameras" value="{{ camera.id }}">
          {{ camera.name }}
        </option>
      </select>
    </div>

    <div class="col-xs-3">
      <select class="form-control" formControlName="operator">
        <option value="0">{{"COMMON.FILTER-FIELD.ALL_OPERATORS" | translate}}</option>
        <option *ngFor="let operator of allOperators" value="{{ operator.id }}">
          {{ operator.profile.firstName + ' ' + operator.profile.lastName }}
        </option>
      </select>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-danger pull-right" type="button" (click)="onReset()">
        <i class="fa fa-eraser" aria-hidden="true"></i> {{"COMMON.FILTER-FIELD.RESET" | translate}}
      </button>
    </div>
  </div>
</form>
