<div class="container">
  <div class="row">
    <div class="col-md-6"><h3 class="pull-left">{{"CUSTOMER-ADMIN.CUSTOMERS" | translate}}</h3></div>
  </div>
</div>

<div class="container" style="padding-top: 10px;">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-7">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{'COMMON.SEARCH_BY_NAME_OR_EMAIL' | translate}}" (keyup)="onSearchKey($event)" [(ngModel)]="searchQuery">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="search()"><i class="fa fa-search" aria-hidden="true"></i> {{"MAIN-ADMIN.SEARCH" | translate}}</button>
        </span>
        <button type="button" class="btn btn-link pull-left" (click)="clearSearch()"><i class="fa fa-remove" aria-hidden="true"></i> {{"MAIN-ADMIN.CLEAR_SEARCH" | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 20px;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th style="width: 20%">{{"COMMON.NAME" | translate}}</th>
      <th>{{"COMMON.EMAIL" | translate}}</th>
      <th style="width: 15%">{{"CUSTOMER-ADMIN.REGISTRATION_DATE" | translate}}</th>
      <th style="width: 405px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList">
      <td>{{customer.profile.firstName + ' ' + customer.profile.lastName}}</td>
      <td>{{customer.profile.emailAddress}}</td>
      <td>{{customer.registrationDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <button type="button" class="btn btn-info btn-sm" style="width: 140px;" [routerLink]="['./', customer.id]"><i class="fa fa-newspaper-o" aria-hidden="true"></i> {{"CUSTOMER-ADMIN.VIEW_REPORTS" | translate}}</button>
        <button type="button" class="btn btn-primary btn-sm" style="width: 110px; margin-left: 10px;" [routerLink]="['./', customer.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{"COMMON.EDIT" | translate}}</button>
        <button type="button" class="btn btn-danger btn-sm" style="width: 110px; margin-left: 10px;" (click)="showConfirmDeleteModal(customer)"><i class="fa fa-trash" aria-hidden="true"></i> {{"COMMON.DELETE" | translate}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <pagination previousText="&lsaquo;" nextText="&rsaquo;" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
    </div>
  </div>
</div>

<!--Confirmation modal-->
<div bsModal #confirmDeleteModal="bs-modal" (onHide)="onHide()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center" [innerHTML]="'CUSTOMER-ADMIN.CONFIRM_DELETING' | translate:{FIRST_NAME:selectedCustomer?.profile?.firstName, LAST_NAME:selectedCustomer?.profile?.lastName}"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="confirmDeleteModal.hide()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
        <button type="button" class="btn btn-danger pull-right" (click)="doDeleteCustomer()">
          <i class="fa fa-trash" aria-hidden="true"></i> {{ "COMMON.DELETE" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>