<div bsModal #viewReasonModal="bs-modal" class="modal fade container" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 45%">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="text-center" [innerHTML]="'OPERATOR-ADMIN.REQUESTS.REQUEST_FROM' | translate:{FIRST_NAME:operatorRequest?.fromCamera2Operator?.operator?.profile?.firstName, LAST_NAME:operatorRequest?.fromCamera2Operator?.operator?.profile?.lastName}"></h4>
        <br/>
        <p [innerHTML]="'OPERATOR-ADMIN.REQUESTS.REASSIGN_STREAM_FROM' | translate:{TYPE:operatorRequest?.requestType}"></p>
        <p>{{operatorRequest?.fromCamera2Operator?.camera?.location?.name}} - {{operatorRequest?.fromCamera2Operator?.camera?.location?.address}}</p>
        <p>{{operatorRequest?.fromCamera2Operator?.camera?.name}}</p>
        <div class="text-center">
          <button type="button" class="btn btn-primary"  (click)="onReassign()">
            {{ "OPERATOR-ADMIN.REQUESTS.REASSIGN" | translate }}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>