<div class="col-xs-offset-3 col-xs-6" style="margin-top: 5%; margin-bottom:  5%">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        {{ (isNew ? "OPERATOR-ADMIN.OPERATORS.ADD_OPERATOR" : "OPERATOR-ADMIN.OPERATORS.EDIT_OPERATOR") | translate}}
      </h3>
    </div>


    <div class="panel-body">
      <form (ngSubmit)="onSubmit()" id="operatorForm" #operatorForm="ngForm">
        <div class="row form-group">
          <!--Operator's info-->
          <div class="col-xs-6">
            <input [(ngModel)]="operator.profile.firstName" class="form-control" name="firstName" #firstName="ngModel"
                   placeholder='{{ "COMMON.FIRST_NAME" | translate}}'
                   required  [minlength]="2" [maxlength]="25"/>
              <div class="alert alert-danger" *ngIf="firstName.errors?.minlength && firstName.touched">
                {{"VALIDATION.MINIMUM_X_CHARS" | translate:{CHARS_COUNT: 2} }}
              </div>
          </div>

          <div class="col-xs-6">
            <input [(ngModel)]="operator.profile.lastName" class="form-control" name="lastName" #lastName="ngModel"
                   placeholder='{{ "COMMON.LAST_NAME" | translate}}'
                   required  [minlength]="2" [maxlength]="25"/>
            <div class="alert alert-danger" *ngIf="lastName.errors?.minlength && lastName.touched">
              {{"VALIDATION.MINIMUM_X_CHARS" | translate:{CHARS_COUNT: 2} }}
            </div>
          </div>
        </div>
        <div class="row  form-group">
          <div class="col-xs-12">
            <input [(ngModel)]="operator.profile.emailAddress" class="form-control" name="emailAddress" #emailAddress="ngModel"
                   placeholder='{{ "COMMON.EMAIL" | translate}}'
                   required  [minlength]="5" [maxlength]="255"/>
            <div class="alert alert-danger" *ngIf="emailAddress.errors?.minlength && emailAddress.touched">
              {{"VALIDATION.MINIMUM_X_CHARS" | translate:{CHARS_COUNT: 5} }}
            </div>
          </div>
        </div>

        <div class="row  form-group">
          <div class="col-xs-12">
            <input [(ngModel)]="operator.profile.phone" class="form-control" name="phone" #phone="ngModel"
                   placeholder='{{ "COMMON.PHONE_NUMBER" | translate}}'
                   required  [minlength]="7" [maxlength]="25"/>
            <div class="alert alert-danger" *ngIf="phone.errors?.minlength && phone.touched">
              {{"VALIDATION.MINIMUM_X_CHARS" | translate:{CHARS_COUNT: 7} }}
            </div>
          </div>
        </div>


        <!--List of assigned cameras-->
        <div *ngFor="let assignedCamera of camerasAssignedToOperator" class="row">

          <div class="col-xs-12">
            <hr/>
          </div>

          <div class="col-xs-6">
            <p><b>{{ assignedCamera.location.name }}</b></p>
            <p>{{ assignedCamera.location.address }}</p>
            <br/>
            <p>{{ assignedCamera.name }}</p>
          </div>
        </div>

        <br/>
      </form>
    </div>

    <div class="panel-footer">
      <button class="btn" (click)="onCancel()">
        {{ "COMMON.CANCEL"| translate}}
      </button>
      <button type="submit"
              class="btn btn-primary pull-right"
              form="operatorForm"
              [disabled]="operatorForm.form.pristine || operatorForm.form.invalid">
        {{ (isNew ? "COMMON.ADD" : "COMMON.SAVE") | translate}}
      </button>
    </div>

  </div>
</div>