<div bsModal #assignOperatorModal="bs-modal" class="modal fade container" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-body" *ngIf="cameraOperator">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="text-center">{{ "OPERATOR-ADMIN.STREAMS.ASSIGN_OPERATOR" | translate }}</h3>
        <br/>
        <h5 class="text-center">{{ cameraOperator.camera.location.name }} - {{ cameraOperator.camera.location.address }}</h5>
        <h5 class="text-center">{{ cameraOperator.camera.name }}</h5>
        <br/>
        <div class="row form-group">
          <div class="col-xs-12">
            <select class="form-control" [(ngModel)]="cameraOperator.isMain">
              <option value="true">{{ "OPERATOR-ADMIN.STREAMS.MAIN_TIMELINE" | translate }}</option>
              <option value="false">{{ "OPERATOR-ADMIN.STREAMS.NOT_MAIN_TIMELINE" | translate }}</option>
            </select>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-xs-12">
            <input class="form-control"
                   placeholder='{{"OPERATOR-ADMIN.STREAMS.SEARCH_OPERATOR" | translate}}'
                   (keyup)="filterOperatorLists()"
                   [(ngModel)]="searchString"/>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-6"><b>{{ "OPERATOR-ADMIN.STREAMS.SUGGESTED_OPERATORS" | translate }}</b></div>
              <div class="col-xs-3 text-center"><b>{{ "OPERATOR-ADMIN.STREAMS.MAIN" | translate }}</b></div>
              <div class="col-xs-3 text-center"><b>{{ "OPERATOR-ADMIN.STREAMS.NOT_MAIN" | translate }}</b></div>
            </div>

            <div [ngSwitch]="suggestedOperatorsFiltered && (suggestedOperatorsFiltered.length > 0)">
              <div *ngSwitchCase="true" [ngStyle]="{ 'margin-top': '10px' }">
                <div *ngFor="let operatorAssignment of suggestedOperatorsFiltered" class="row">
                  <div class="col-xs-6" (click)="onSelectOperator(operatorAssignment.operator)" [ngStyle]="{ 'cursor': 'pointer'}">
                    <p>
                      {{ operatorAssignment.operator.profile.firstName + " " + operatorAssignment.operator.profile.lastName }}
                      {{ " (" + operatorAssignment.total + "/" + MAX_CAMERAS_PER_OPERATOR + ")" }}
                      <i *ngIf="operatorAssignment.operator && operatorAssignment.operator.id === cameraOperator.operator?.id"
                         class="fa fa-check"
                         aria-hidden="true"
                         [ngStyle]="{'color': 'green'}">
                      </i>
                    </p>
                  </div>
                  <div class="col-xs-3 text-center">{{ operatorAssignment.mainTotal }}</div>
                  <div class="col-xs-3 text-center">{{ (operatorAssignment.total - operatorAssignment.mainTotal) }}</div>
                </div>
              </div>
              <div *ngSwitchCase="false" class="row"  [ngStyle]="{ 'margin-top': '10px' }">
                <div class="col-xs-12 text-center">
                  <p><i>{{ "OPERATOR-ADMIN.STREAMS.THERE_ARE_NO_ELIGIBLE_OPERATORS" | translate }}</i></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-6"><b>{{ "OPERATOR-ADMIN.STREAMS.OTHER_AVAILABLE_OPERATORS" | translate }}</b></div>
              <div class="col-xs-3 text-center"><b>{{ "OPERATOR-ADMIN.STREAMS.MAIN" | translate }}</b></div>
              <div class="col-xs-3 text-center"><b>{{ "OPERATOR-ADMIN.STREAMS.NOT_MAIN" | translate }}</b></div>
            </div>

            <div [ngSwitch]="otherOperatorsFiltered && (otherOperatorsFiltered.length > 0)">
              <div *ngSwitchCase="true" [ngStyle]="{ 'margin-top': '10px' }">
                <div *ngFor="let operatorAssignment of otherOperatorsFiltered" class="row">
                  <div class="col-xs-6" (click)="onSelectOperator(operatorAssignment.operator)" [ngStyle]="{ 'cursor': 'pointer'}">
                    <p>
                      {{ operatorAssignment.operator.profile.firstName + " " + operatorAssignment.operator.profile.lastName }}
                      {{ " (" + operatorAssignment.total + "/" + MAX_CAMERAS_PER_OPERATOR + ")" }}
                      <i *ngIf="operatorAssignment.operator && operatorAssignment.operator.id === cameraOperator.operator?.id" class="fa fa-check" aria-hidden="true"></i>
                    </p>
                  </div>
                  <div class="col-xs-3 text-center">{{ operatorAssignment.mainTotal }}</div>
                  <div class="col-xs-3 text-center">{{ (operatorAssignment.total - operatorAssignment.mainTotal) }}</div>
                </div>
              </div>
              <div *ngSwitchCase="false" class="row" [ngStyle]="{ 'margin-top': '10px' }">
                  <div class="col-xs-12 text-center">
                    <p><i>{{ "OPERATOR-ADMIN.STREAMS.THERE_ARE_NO_ELIGIBLE_OPERATORS" | translate }}</i></p>
                  </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row"  [ngStyle]="{ 'margin-top': '20px' }">
          <div class="col-xs-12 text-center">
            <button [disabled]="!cameraOperator.operator"
                    class="btn btn-primary"
                    (click)="onAssign()">
              {{ "COMMON.ASSIGN" | translate}}
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>