<div class="row">
  <div class="col-xs-10">
    <h2 class="text-left">{{"OPERATOR-ADMIN.OPERATORS.TITLE" | translate}}</h2>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-primary btn-md form-control" (click)="doEdit()">{{"COMMON.ADD" | translate}}</button>
  </div>
</div>

<operator-filter [filter]="operatorFilter" (search)="search($event)" (reset)="search($event)"></operator-filter>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-xs-3">{{ "COMMON.NAME" | translate }}</th>
        <th class="col-xs-2">{{ "COMMON.EMAIL" | translate }}</th>
        <th class="col-xs-2">{{ "COMMON.PHONE_NUMBER" | translate }}</th>
        <th class="col-xs-1">{{ "COMMON.STATE" | translate }}</th>
        <th class="col-xs-4"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operator of operators">
        <td>{{ operator.profile.firstName + " " + operator.profile.lastName }}</td>
        <td>{{ operator.profile.emailAddress }}</td>
        <td>{{ operator.profile.phone }}</td>
        <td>{{ ("OPERATOR.STATE." + operator.state) | translate }}</td>
        <td>
          <div class="row">
            <div class="col-xs-3">
              <button *ngIf="isOperatorObservable(operator)" type="button" class="btn btn-info btn-sm not-implemented-yet" (click)="doObserve(operator.id)">
                <i class="fa fa-tv" aria-hidden="true"></i> {{ "COMMON.OBSERVE" | translate}}
              </button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-info btn-sm" (click)="doViewLog(operator.id)">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i> {{ "COMMON.VIEW_LOG" | translate}}
              </button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-primary btn-sm" (click)="doEdit(operator.id)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ "COMMON.EDIT" | translate}}
              </button>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-danger btn-sm" (click)="showConfirmDeleteModal(operator)">
                <i class="fa fa-trash" aria-hidden="true"></i> {{ "COMMON.DELETE" | translate}}
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pull-right"></pagination>
  </div>
</div>


<!--Confirmation modal-->
<div bsModal #confirmDeleteModal="bs-modal" (onHide)="onHide()" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeleteModal" aria-hidden="true" style="margin-top: 10%;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center" style="margin: 10%;">
        <p class="modal-title" innerHTML='{{ "OPERATOR-ADMIN.OPERATORS.CONFIRM_DELETING" | translate:{NAME:
          (selectedOperator?.profile?.firstName + " " + selectedOperator?.profile?.lastName)} }}'></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn pull-left" (click)="confirmDeleteModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger pull-right" (click)="doDelete()">
          <i class="fa fa-trash" aria-hidden="true"></i> {{ "COMMON.DELETE" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>