<div class="container" style="margin-top: 25px;">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user-circle" aria-hidden="true"></i> {{"COMMON.PERSONAL_INFO" | translate}}</h3>
        </div>
        <div class="panel-body">

          <form id="personalInfo" (ngSubmit)="onSubmit()" #personalInfoForm="ngForm">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label for="firstName">{{"COMMON.FIRST_NAME" | translate}}</label>
                  <input type="text" class="form-control" #firstName="ngModel" required [minlength]="2" [maxlength]="25" id="firstName" name="firstName" placeholder="{{'COMMON.FIRST_NAME' | translate}}" [(ngModel)]="application.applicationProfile.firstName">
                  <div class="alert alert-danger" *ngIf="firstName.errors?.minlength && firstName.touched">{{"VALIDATION.MINIMUM_2_CHARS" | translate}}</div>
                </div>
                <div class="col-xs-6">
                  <label for="lastName">{{"COMMON.LAST_NAME" | translate}}</label>
                  <input type="text" class="form-control" #lastName="ngModel" required [minlength]="2" [maxlength]="60" id="lastName" name="lastName" placeholder="{{'COMMON.LAST_NAME' | translate}}" [(ngModel)]="application.applicationProfile.lastName">
                  <div class="alert alert-danger" *ngIf="lastName.errors?.minlength && lastName.touched">{{"VALIDATION.MINIMUM_2_CHARS" | translate}}</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label for="emailAddress">{{"COMMON.EMAIL" | translate}}</label>
                  <input type="text" class="form-control" #emailAddress="ngModel" required email id="emailAddress" name="emailAddress" placeholder="{{'COMMON.EMAIL' | translate}}" [(ngModel)]="application.applicationProfile.emailAddress">
                  <div class="alert alert-danger" *ngIf="emailAddress.errors?.email && emailAddress.touched">{{"VALIDATION.EMAIL_FORMAT" | translate}}</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label for="phone">{{"COMMON.PHONE_NUMBER" | translate}}</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="{{'COMMON.PHONE_NUMBER' | translate}}" [(ngModel)]="application.applicationProfile.phone">
                </div>
              </div>
            </div>
          </form>

        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-default" (click)="cancel()"><i class="fa fa-remove" aria-hidden="true"></i> {{"COMMON.CANCEL" | translate}}</button>
          <button type="submit" form="personalInfo" class="btn btn-primary pull-right" [disabled]="!personalInfoForm.form.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{"COMMON.SAVE" | translate}}</button>
        </div>
      </div>

    </div>
    <div class="col-xs-2"></div>
  </div>
</div>